-@ val title: String
-@ val body: String

!!!
html
    head
        title= title
        link(href="/css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css")/
        link(href="/css/sticky.css" rel="stylesheet" media="screen" type="text/css")/
        link(href="/css/custom.css" rel="stylesheet" media="screen" type="text/css")/
    body
        div(class="navbar navbar-inverse navbar-fixed-top")
            div(class="navbar-inner")
                div(class="container")
                    div(class="title" onclick="window.location='/'")
                        img(src="/img/codingboard_logo.png")
                        span beta
        div(class="container")
            div(class="content") 
                div(class="wrapper") 
                    div(class="proper-content")
                        div(class="row")
                            div(class="span12 offset1")
                                !=body
                    div(class="push")
                div(class="footer-wrapper")
                    :markdown
                        CodingBoard was started by [@balopat](http://twitter.com/balopat) to learn Scala and Scalatra

                        [about.me](http://about.me/balintpato)
                        This project is opensource, it's on [Github](http://github.com/balopat/codingboard)
        <script src="/js/bootstrap.min.js"></script>
        :javascript
              var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-37015481-2']);
                  _gaq.push(['_trackPageview']);

                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                                  })();
