-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
    head
        title= title
        link(href="/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css")/
    body
        div(class="container")

            div(class="row")
                div(class="span8 offset2")
                    h1 
                        a(href="/") DojoShare
            
            div(class="row")
                div(class="span8 offset2")
                    #content
                    h1= headline
                    != body
                
        <script src="/js/bootstrap.min.js"></script>
