-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
    head
        title= title
        link(href="/css/design.css" rel="stylesheet" type="text/css")/
    body
        h1 
            a(href="/") DojoShare
        #content
        h1= headline
        != body
