-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
    head
        title= title
        link(href="/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css")/
    body(style="padding-top: 60px;")
        div(class="navbar navbar-inverse navbar-fixed-top")
            div(class="navbar-inner")
                div(class="container")
                    a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="brand" href="/") Share the code
                    div(class="nav-collapse collapse")
                        ul(class="nav")
                            li(class="active")
                                a(href="/") Rooms
                            li
                                a(href="/#about") About
                            li
                                a(href="/#contact") Contact

        div(class="container")

            div(class="row")
                div(class="span8 offset2")
                    #content
                    != body
        <script src="/js/bootstrap.min.js"></script>
        :javascript
              var _gaq = _gaq || [];
             _gaq.push(['_setAccount', 'UA-37015481-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
               })();
