-@val errorMessage: String = ""
- attributes("title") = "DojoShare - Create room"
- attributes("headline") = "Create your room"

div
    form(method="POST" action="submitroom")
        div 
            input(placeholder="Name your room..." name="room" id="room")
        div 
            p(class="text-error")=errorMessage
        div 
            button(type="submit") Create Your Room

<script src="/js/jquery-1.7.2.js"></script>        
:javascript
    $('#room').focus()
