-@val boardErrorMessage: String = ""
-@val lifeTimeErrorMessage: String = ""
-@val board: String = ""
-@val lifeTime: String = ""
- attributes("title") = "CodingBoard - Create Board"

form(method="POST" action="submitboard")
    fieldset
        legend 
            h2 The details of your CodingBoard
        div
            label Describe your session:
            input(placeholder="Name your board..." name="board" id="board" value="#{board}" size="50")
        div
            p(class="text-error")=boardErrorMessage
        div
            input(placeholder="Lifetime of your board in minutes" name="lifeTimeInMinutes" id="lifeTimeInMinutes" value="#{lifeTime}" size="50")
        div
            p(class="text-error")=lifeTimeErrorMessage
        div
            button(id="submit" class="btn btn-info btn-large" type="submit") Create CodingBoard

<script src="/js/jquery-1.7.2.js"></script>
:javascript
    $('#board').focus()
