- attributes("title") = "DojoShare - Create room"
- attributes("headline") = "Create your room"

div
    form(method="POST" action="submitroom")
        div 
            label Name your room:
            input(value="bla" name="room" id="room")
        div 
            button(type="submit") Create Your Room
