-@val rooms: Iterable[String]
-@val errorMessage: String = ""

- attributes("title") = "ShareTheCode - Welcome!"
- attributes("headline") = "Welcome!"

div(class="container")
    div(class="row span8 ")
        #errorMessage
            p(class="text-error")=errorMessage

        - if (!rooms.isEmpty)
            h2
                a(href="#") Current rooms

            table(class="table table-hover striped")
                - for (room <- rooms)
                    tr(class="clickable" onclick="window.location='/rooms/#{room}';")
                        td
                            a(href="/rooms/#{room}")= room

    div(class="row span3 offset3")
        button(class="btn btn-info btn-large" onclick="window.location='/createroom'") Create a room!
    div(class="row span8")
        h2
            a(name="about") About
        p This app is the tool for your next hands-on session or Dojo.
        p The presenter creates a room, coders connect to the room and paste their codes when it's about discussion and everyone sees it on the projected screen.  Share other links in Plain Text. That's it. Like a big, syntax highlighted chat. Simples.
        h2
            a(name="contact") Contact
        p
            :markdown
                ShareTheCode was written by [@balopat]("http://twitter.com/balopat")
                [about.me]("http://about.me/balintpato")
                This project is opensource, you can find the code in [Github](http://github.com/balopat/sharethecode)


