-@val rooms: Iterable[String]
-@val errorMessage: String = ""

- attributes("title") = "DojoShare - Welcome!"
- attributes("headline") = "Welcome!"

p to the slickest realtime group code-sharing tool DojoShare!
- if (!rooms.isEmpty)
    p Current rooms

    table(class="table table-hover striped") 
        - for (room <- rooms)
            tr(class="clickable" onclick="window.location='/rooms/#{room}';")
                td
                    a(href="/rooms/#{room}")= room
#errorMessage
    p(class="text-error")=errorMessage
:markdown
    [Create a room](/createroom)
