- attributes("title") = "DojoShare - Create room"
- attributes("headline") = "Create your room"

html
    body
        div
            form
                input Type the room you want to join
                button Join
