- attributes("title") = "DojoShare - Join room"
- attributes("headline") = "Join room"
-@val errorMessage: String = ""

h1 #{errorMessage} 

div
    form(action="/room" method="GET")
        input(name="room") Type the room you want to join...
        button Join
