-@val room: String
- attributes("title") = "DojoShare - Share your code"
- attributes("headline") = "Share your code"

div
    form(method="POST" action="/rooms/#{room}")
        div 
            input(value="Description..." name="description" id="description")
            textarea(value="bla" name="code" id="code")
            select(name="language" id="language")
                option C#
                option Java
                option Scala
        div 
            button(type="submit") Share your code
