-@ val room: String
-@ val entries: List[com.balopat.dojoshare.CodeSnippet]
- attributes("title") = "DojoShare - " + room
- attributes("headline") = "Room: " + room

p
    Well done, you entered: #{room}, #{entries} times
    a(href="/rooms/#{room}/mine") post a code snippet
